**/Original/
Albums/
Album 6/
Album 7/
Album 8/
allcanon/
Before The Story/
Blossom mine/
Mihir Blossom/
canon/
canon_mine/
Edited Photos/
Explosion Of Colours/thumbs50bad
Explosion Of Colours/thumbs50good
Explosion Of Colours/thumbs75
lower_quality.py