@font-face {
    font-family: "Helvetica-Bold";
    src: url("Assets/helvetica-255/Helvetica-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap; /* Optional, improves loading behavior */
}

@font-face {
    font-family: "Helvetica";
    src: url("Assets/helvetica-255/Helvetica.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Optional, improves loading behavior */
}

* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, rgb(10, 10, 10), rgb(19, 19, 19));
    overflow-x: hidden;
}

button {
    transition: all 0.5s;
    padding: 12px;
    font-weight: 400;
    color: white;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 8px;
    border-color: white;
    border: 3px solid;
    cursor: pointer;
}

button:not(:disabled):hover {
    font-weight: 700;
    background-color: rgba(0, 209, 17, 0.137);
}

button:not(:disabled):active {
    transition: all 0.1s ease-out;
    font-weight: 800;
    background-color: rgba(17, 209, 0, 0.308);
}

button:disabled {
    color: rgb(179, 179, 179);
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 4px;
    border-color: rgb(53, 53, 53);
    border: 2px solid;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 32px 16px;
}

.download-btn {
    text-decoration: none;
    text-align: center;
    transition: all 0.5s;
    padding: 8px;
    width: 175px;
    font-weight: 400;
    color: white;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 8px;
    border: 3px solid white;
    cursor: pointer;
}

.download-btn:hover:not(:disabled) {
    font-weight: 800;
    background-color: rgba(0, 209, 17, 0.137);
}

.download-btn:active:not(:disabled) {
    transition: all 0.1s ease-out;
    background-color: rgba(17, 209, 0, 0.308);
}

.download-btn:disabled {
    color: rgb(179, 179, 179);
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 4px;
    border-color: rgb(53, 53, 53);
    border: 2px solid;
    pointer-events: none;
}

.logo-img {
    width: 40px;
    height: auto;
    margin-top: 4px;
    filter: brightness(35%);
    transition: all 0.3s ease;
}

.logo-img:hover {
    cursor: pointer;
    scale: 1.08;
    filter: brightness(50%);
}

.copyright {
    font-family: Helvetica;
    font-weight: 500;
    font-size: 0.9em;
    color: rgb(73, 73, 73);
}

.license {
    font-family: "Helvetica";
    font-weight: 400;
    text-decoration: none;
    color: rgb(116, 116, 116);
}

#people {
    color: rgba(255, 255, 255, 0.185);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.75s ease forwards;
}

.fade-delay-2 {
    animation-delay: 0.2s;
}
.fade-delay-3 {
    animation-delay: 0.4s;
}
.fade-delay-4 {
    animation-delay: 0.6s;
}
.fade-delay-5 {
    animation-delay: 0.8s;
}
.fade-delay-6 {
    animation-delay: 1s;
}
.fade-delay-7 {
    animation-delay: 1.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
