.info-section {
    max-width: 1500px;
    margin-top: 40px;
    text-align: center;
}

.photos-grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 1380px; /* 6 columns max + 5 gaps */
    column-gap: 80px;
    row-gap: 20px;
    justify-items: center;
}

.photos-grid img {
    width: 225px;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    transition:
        transform 0.2s ease,
        border 0.2s ease;
}

.photos-grid img:hover {
    transform: scale(1.03);
    border-color: rgba(255, 255, 255, 0.267);
}

.album-image {
    width: 175px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.album-image:hover {
    transform: scale(1.05);
}

.copyright {
    max-width: 85%;
    padding: 30px;
}

@media (max-width: 1920px) {
    .info-section {
        max-width: 1200px;
        margin-top: 40px;
        text-align: center;
    }

    .photos-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        max-width: calc(150px * 7 + 20px * 5); /* 5 columns + 4 gaps */
        gap: 17px;
    }

    .photos-grid img {
        width: 180px;
        height: 235px;
        object-fit: cover;
        border-radius: 10px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        transition:
            transform 0.2s ease,
            border 0.2s ease;
    }
}

@media (max-width: 1200px) {
    .photos-grid {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        max-width: calc(135px * 5 + 14px * 4); /* 5 columns + 4 gaps */
        gap: 10px;
        padding: 10px;
    }

    .photos-grid img {
        width: 170px;
        height: 190px;
        object-fit: cover;
        border-radius: 10px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        transition:
            transform 0.2s ease,
            border 0.2s ease;
    }
}

@media (max-width: 755px) {
    .photos-grid {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        max-width: calc(110px * 4 + 10px * 2);
        gap: 8px;
        padding: 8px;
    }

    .photos-grid img {
        width: 110px;
        height: 130px;
        object-fit: cover;
        border-radius: 10px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        transition:
            transform 0.2s ease,
            border 0.2s ease;
    }
}
