.photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: calc(150px * 9 + 20px * 5); /* 8 columns max + 5 gaps */
    gap: 32px;
    justify-items: center;
    padding-top: 20px;
    margin: 0 auto;
}

.photos-grid img {
    width: 175px;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease, border 0.2s ease;
}

.photos-grid img:hover {
    transform: scale(1.03);
    border-color: rgba(255, 255, 255, 0.267);
}

.album-image {
    width: 175px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.album-image:hover {
    transform: scale(1.05);
}

.copyright {
    max-width: 85%;
    padding: 30px;
}

@media (max-width: 1650px) {
    .photos-grid {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        max-width: calc(135px * 7 + 14px * 4); /* 6 columns + 4 gaps */
        gap: 14px;
        padding: 14px;
    }

    .photos-grid img {
        width: 135px;
        height: 165px;
        object-fit: cover;
        border-radius: 10px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        transition: transform 0.2s ease, border 0.2s ease;
    }
}

@media (max-width: 930px) {
    .photos-grid {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        max-width: calc(130px * 6 + 10px * 2);
        gap: 15px;
        padding: 0px;
    }

    .photos-grid img {
        width: 130px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        transition: transform 0.2s ease, border 0.2s ease;
    }
}

@media (max-width: 740px) {
    .photos-grid {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        max-width: calc(110px * 6 + 10px * 2);
        gap: 10px;
        padding: 2px;
    }

    .photos-grid img {
        width: 110px;
        height: 130px;
        object-fit: cover;
        border-radius: 10px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        transition: transform 0.2s ease, border 0.2s ease;
    }
}

@media (max-width: 630px) {
    .photos-grid {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        max-width: calc(110px * 4 + 10px * 2);
        gap: 7px;
        padding: 7px;
    }

    .photos-grid img {
        width: 110px;
        height: 130px;
        object-fit: cover;
        border-radius: 10px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        transition: transform 0.2s ease, border 0.2s ease;
    }
}
